In [119]:
import pandas as pd
import math
import collections

# 치사율 데이터 가져오기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [78]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
deathData = data.total_deaths
caseData = data.total_cases

In [82]:
countrySeries = data.iso_code
countryList = list(set(countrySeries)) # set으로 만들어서 중복 다 없앰.

len(countryList)

212

### 국가 filtering하기

In [133]:
countryRowList = []
for country in countryList:
    check = False
    for i in range(len(countrySeries)):
        if(country == countrySeries[i]):
            check = True
        if(check and country != countrySeries[i]): # 맨 마지막 total값을 가져오기 위해서 country[i]이름이 달라지면 i-1을 리스트에 넣는다.
            if(caseData[i-1] > 3000 and country != 'OWID_WRL'): # case가 3000명이 넘는 것만 들고 옴, OWID_WRL은 전세계 데이터라 뺌
                countryRowList.append(i-1)
            break
            
len(countryRowList)

68

### {country: fatality rate} 형태로 dictionary만들기

In [134]:
fatalityRateDict = {}
for index in countryRowList:
    if(not math.isnan(deathData[index]) and not math.isnan(caseData[index])):
        fatalityRateDict[countrySeries[index]] = 100*float(deathData[index]/caseData[index])

In [136]:
print(len(fatalityRateDict))
fatalityRateDict # 치사율 데이터

68

{'CHE': 5.227123107307439,
 'THA': 1.8555334658714382,
 'AUS': 1.4022034625840607,
 'RUS': 0.9137941287240581,
 'CAN': 7.454939306004005,
 'FIN': 4.67046379170057,
 'ARM': 1.2694300518134713,
 'GBR': 14.417266063624004,
 'NLD': 12.856190060026218,
 'PHL': 6.652071404513304,
 'BRA': 6.895888979784938,
 'ESP': 11.902500653480875,
 'EGY': 5.272878382122079,
 'ISR': 1.5984076241027805,
 'ECU': 7.6650711428758775,
 'JPN': 4.384610634224665,
 'CZE': 3.508561848880374,
 'MEX': 10.510623312595376,
 'DNK': 5.012601512181462,
 'MAR': 2.8757378537914335,
 'AUT': 3.9112777257107156,
 'DZA': 8.211735485873954,
 'KWT': 0.7348643006263048,
 'NOR': 2.837920489296636,
 'BEL': 16.39957264957265,
 'IND': 3.2316701232158107,
 'GHA': 0.433996383363472,
 'POL': 5.012773204655123,
 'ARE': 0.986530070195409,
 'NGA': 3.2351801627276253,
 'PER': 2.81251550791524,
 'SRB': 2.1592442645074224,
 'DEU': 4.518573276658659,
 'TUR': 2.768240195096339,
 'QAT': 0.049518958687040183,
 'BOL': 4.507710557532621,
 'KAZ': 0.5744031592173757,
 'ITA': 14.060314842041095,
 'BLR': 0.5640221126550127,
 'HUN': 12.935323383084576,
 'OMN': 0.4376871688551025,
 'IDN': 6.516306385105586,
 'KOR': 2.359774913777455,
 'SAU': 0.6038106210928331,
 'FRA': 19.40136959166926,
 'IRN': 5.984301467699265,
 'DOM': 3.7279151943462896,
 'ARG': 4.957168936947058,
 'AFG': 2.5472935006555537,
 'PRT': 4.180938592464424,
 'MDA': 3.4936070592472537,
 'PAK': 2.157558170777581,
 'PAN': 2.851502522483001,
 'CHL': 0.9665226781857451,
 'USA': 6.058725330403155,
 'CHN': 5.518332956479311,
 'LUX': 2.630906768837803,
 'ZAF': 1.86827851479708,
 'COL': 3.8574577516531963,
 'ROU': 6.438111651381793,
 'MYS': 1.6424695703182286,
 'IRQ': 3.658924594336621,
 'SWE': 12.346931635294942,
 'BGD': 1.5002915761013624,
 'UKR': 2.7067133614293346,
 'IRL': 6.320560708440006,
 'BHR': 0.16134236850596967,
 'SGP': 0.08046593608705647}

# Factor 데이터 dictionary로 바꾸기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [78]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Factor Data 고르기

In [69]:
femaleSmokers = data.female_smokers
maleSmokers = data.male_smokers
len(countrySeries)

17425

In [74]:
femaleCount = 0
maleCount = 0
for index in countryRowList:
    if(not math.isnan(femaleSmokers[index])):
        femaleCount +=1
    if(not math.isnan(maleSmokers[index])):
        maleCount +=1
        
print("The number of female smokers data: {}".format(femaleCount))
print("The number of male smokers data: {}".format(maleCount))

The number of female smokers data: 141
The number of male smokers data: 139

### {Country: Data}인 dictionary 만들기

In [138]:
maleSmokerDict = {}
femaleSmokerDict = {}
for index in countryRowList:
    if(not math.isnan(femaleSmokers[index])): # nan 아닌 데이터들만 사용
        femaleSmokerDict[countrySeries[index]] = femaleSmokers[index]
    if(not math.isnan(maleSmokers[index])):
        maleSmokerDict[countrySeries[index]] = maleSmokers[index]

In [139]:
maleSmokerDict

{'CHE': 28.9,
 'THA': 38.8,
 'AUS': 16.5,
 'RUS': 58.3,
 'CAN': 16.6,
 'FIN': 22.6,
 'ARM': 52.1,
 'GBR': 24.7,
 'NLD': 27.3,
 'PHL': 40.8,
 'BRA': 17.9,
 'ESP': 31.4,
 'EGY': 50.1,
 'ISR': 35.4,
 'ECU': 12.3,
 'JPN': 33.7,
 'CZE': 38.3,
 'MEX': 21.4,
 'DNK': 18.8,
 'MAR': 47.1,
 'AUT': 30.9,
 'DZA': 30.4,
 'KWT': 37.0,
 'NOR': 20.7,
 'BEL': 31.4,
 'IND': 20.6,
 'GHA': 7.7,
 'POL': 33.1,
 'ARE': 37.4,
 'NGA': 10.8,
 'SRB': 40.2,
 'DEU': 33.1,
 'TUR': 41.1,
 'QAT': 26.9,
 'KAZ': 43.1,
 'ITA': 27.8,
 'BLR': 46.1,
 'HUN': 34.8,
 'OMN': 15.6,
 'IDN': 76.1,
 'KOR': 40.9,
 'SAU': 25.4,
 'FRA': 35.6,
 'IRN': 21.1,
 'DOM': 19.1,
 'ARG': 27.7,
 'PRT': 30.0,
 'MDA': 44.6,
 'PAK': 36.7,
 'PAN': 9.9,
 'CHL': 41.5,
 'USA': 24.6,
 'CHN': 48.4,
 'LUX': 26.0,
 'ZAF': 33.2,
 'COL': 13.5,
 'ROU': 37.1,
 'MYS': 42.4,
 'SWE': 18.9,
 'BGD': 44.7,
 'UKR': 47.4,
 'IRL': 25.7,
 'BHR': 37.6,
 'SGP': 28.3}

# Correlation 구하기

### 비교할 리스트 만들어 주기

In [140]:
fatalityListforFemale = []
fatalityListforMale = []
femaleSmokerList = []
maleSmokerList = []

for isoCode in fatalityRateDict:
    if isoCode in femaleSmokerDict:
        fatalityListforFemale.append(fatalityRateDict[isoCode])
        femaleSmokerList.append(femaleSmokerDict[isoCode])
    if isoCode in maleSmokerDict:
        fatalityListforMale.append(fatalityRateDict[isoCode])
        maleSmokerList.append(maleSmokerDict[isoCode])

In [142]:
print("correlation list for female {} : {}".format(len(fatalityListforFemale), len(femaleSmokerList)))
print("correlation list for male {} : {}".format(len(fatalityListforMale), len(maleSmokerList)))

correlation list for female 65 : 65
correlation list for male 64 : 64

In [143]:
correlationSmokingFemale = [fatalityListforFemale, femaleSmokerList]
correlationSmokingMale = [fatalityListforMale, maleSmokerList]

### correlation 구하기

In [148]:
df_female = pd.DataFrame(correlationSmokingFemale).T
corr_female = df_female.corr(method= 'pearson')
print("Correlation between female smokers and fatality: {}".format(corr_female[1][0]))

df_male = pd.DataFrame(correlationSmokingMale).T
corr_male = df_male.corr(method= 'pearson')
corr_male[1][0]
print("Correlation between male smokers and fatality: {}".format(corr_male[1][0]))

Correlation between female smokers and fatality: 0.41867151765777605
Correlation between male smokers and fatality: -0.13808662309391798