In [77]:
import pandas as pd
import math

# 치사율 데이터 가져오기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [78]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
deathData = data.total_deaths
caseData = data.total_cases

In [82]:
countrySeries = data.iso_code
countryList = list(set(countrySeries)) # set으로 만들어서 중복 다 없앰.

len(countryList)

212

In [84]:
countryRowList = []
for country in countryList:
    check = False
    for i in range(len(countrySeries)):
        if(country == countrySeries[i]):
            check = True
        if(check and country != countrySeries[i]):
            countryRowList.append(i)
            break
            
len(countryRowList) # 한 개가 모자라는데, 그 한개는 nan임.

211

In [95]:
fatalityRateDict = {}
for index in countryRowList:
    if(not math.isnan(deathData[index]) and not math.isnan(caseData[index])):
        if(caseData[index] == 0):
            fatalityRateDict[countrySeries[index]] = 0
        else:
            fatalityRateDict[countrySeries[index]] = deathData[index]/caseData[index]

IndexError: list index out of range

# Factor 데이터 dictionary로 바꾸기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [78]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Factor Data 고르기

In [69]:
femaleSmokers = data.female_smokers
maleSmokers = data.male_smokers
len(countrySeries)

17425

In [74]:
femaleCount = 0
maleCount = 0
for index in countryRowList:
    if(not math.isnan(femaleSmokers[index])):
        femaleCount +=1
    if(not math.isnan(maleSmokers[index])):
        maleCount +=1
        
print("The number of female smokers data: {}".format(femaleCount))
print("The number of male smokers data: {}".format(maleCount))

The number of female smokers data: 141
The number of male smokers data: 139

### {Country: Data}인 dictionary 만들기

In [75]:
countryMaleSmokerDict = {}
countryFemaleSmokerDict = {}
for index in countryRowList:
    if(not math.isnan(femaleSmokers[index])): # nan 아닌 데이터들만 사용
        countryFemaleSmokerDict[countrySeries[index]] = femaleSmokers[index]
    if(not math.isnan(maleSmokers[index])):
        countryMaleSmokerDict[countrySeries[index]] = maleSmokers[index]

In [76]:
countryMaleSmokerDict # OWID_WRL가 전세계 데이터인듯

{'CHE': 28.9,
 'THA': 38.8,
 'MMR': 35.2,
 'AUS': 16.5,
 'EST': 39.3,
 'RUS': 58.3,
 'AND': 37.8,
 'CAN': 16.6,
 'MUS': 40.7,
 'BWA': 34.4,
 'FIN': 22.6,
 'BHS': 20.4,
 'BEN': 12.3,
 'JAM': 28.6,
 'SLE': 41.3,
 'ALB': 51.2,
 'ARM': 52.1,
 'GBR': 24.7,
 'NLD': 27.3,
 'PHL': 40.8,
 'BRA': 17.9,
 'ESP': 31.4,
 'KHM': 33.7,
 'EGY': 50.1,
 'MOZ': 29.1,
 'NZL': 17.2,
 'LAO': 51.2,
 'ISR': 35.4,
 'ECU': 12.3,
 'JPN': 33.7,
 'VNM': 45.9,
 'CYP': 52.7,
 'CZE': 38.3,
 'SVK': 37.7,
 'KEN': 20.4,
 'MEX': 21.4,
 'ERI': 11.4,
 'DNK': 18.8,
 'MAR': 47.1,
 'RWA': 21.0,
 'GMB': 31.2,
 'AUT': 30.9,
 'NER': 15.4,
 'OWID_WRL': 34.635,
 'DZA': 30.4,
 'KWT': 37.0,
 'CPV': 16.5,
 'LBN': 40.7,
 'COG': 52.3,
 'COM': 23.6,
 'CRI': 17.4,
 'NOR': 20.7,
 'SEN': 16.6,
 'BEL': 31.4,
 'IND': 20.6,
 'PRY': 21.6,
 'ZWE': 30.7,
 'GHA': 7.7,
 'POL': 33.1,
 'ARE': 37.4,
 'NGA': 10.8,
 'UGA': 16.7,
 'SRB': 40.2,
 'YEM': 29.2,
 'ISL': 15.2,
 'BRN': 30.9,
 'DEU': 33.1,
 'LSO': 53.9,
 'TUR': 41.1,
 'DJI': 24.5,
 'LBR': 18.1,
 'QAT': 26.9,
 'BFA': 23.9,
 'ZMB': 24.7,
 'ETH': 8.5,
 'KAZ': 43.1,
 'GRC': 52.0,
 'HTI': 23.1,
 'SLV': 18.8,
 'ITA': 27.8,
 'BLR': 46.1,
 'NPL': 37.8,
 'MDV': 55.0,
 'HUN': 34.8,
 'OMN': 15.6,
 'IDN': 76.1,
 'KOR': 40.9,
 'PNG': 48.8,
 'SAU': 25.4,
 'FRA': 35.6,
 'SWZ': 16.5,
 'BIH': 47.7,
 'MLT': 30.2,
 'IRN': 21.1,
 'SUR': 42.9,
 'DOM': 19.1,
 'ARG': 27.7,
 'SVN': 25.0,
 'PRT': 30.0,
 'MWI': 24.7,
 'TUN': 65.8,
 'LVA': 51.0,
 'BRB': 14.5,
 'KGZ': 50.5,
 'LKA': 27.0,
 'NAM': 34.2,
 'MDA': 44.6,
 'SYC': 35.7,
 'PAK': 36.7,
 'UZB': 24.7,
 'BGR': 44.4,
 'CUB': 53.3,
 'MLI': 23.0,
 'PAN': 9.9,
 'AZE': 42.5,
 'CHL': 41.5,
 'USA': 24.6,
 'MNE': 47.9,
 'CHN': 48.4,
 'GEO': 55.5,
 'TGO': 14.2,
 'LUX': 26.0,
 'ZAF': 33.2,
 'URY': 19.9,
 'COL': 13.5,
 'ROU': 37.1,
 'MYS': 42.4,
 'TZA': 26.7,
 'HRV': 39.9,
 'SWE': 18.9,
 'BGD': 44.7,
 'LTU': 38.0,
 'FJI': 34.8,
 'TLS': 78.1,
 'MNG': 46.5,
 'UKR': 47.4,
 'IRL': 25.7,
 'BHR': 37.6,
 'SGP': 28.3}