In [2]:
import pandas as pd
import math
import collections

# 치사율 데이터 가져오기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [3]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
deathData = data.total_deaths
caseData = data.total_cases

In [5]:
countrySeries = data.iso_code
countryList = list(set(countrySeries)) # set으로 만들어서 중복 다 없앰.

len(countryList)

212

### 국가 filtering하기

In [6]:
countryRowList = []
for country in countryList:
    check = False
    for i in range(len(countrySeries)):
        if(country == countrySeries[i]):
            check = True
        if(check and country != countrySeries[i]): # 맨 마지막 total값을 가져오기 위해서 country[i]이름이 달라지면 i-1을 리스트에 넣는다.
            if(caseData[i-1] > 3000 and country != 'OWID_WRL'): # case가 3000명이 넘는 것만 들고 옴, OWID_WRL은 전세계 데이터라 뺌
                countryRowList.append(i-1)
            break
            
len(countryRowList)

68

### {country: fatality rate} 형태로 dictionary만들기

In [7]:
fatalityRateDict = {}
for index in countryRowList:
    if(not math.isnan(deathData[index]) and not math.isnan(caseData[index])):
        fatalityRateDict[countrySeries[index]] = 100*float(deathData[index]/caseData[index])

In [8]:
print(len(fatalityRateDict))
fatalityRateDict # 치사율 데이터

68

{'PRT': 4.180938592464424,
 'ZAF': 1.86827851479708,
 'TUR': 2.768240195096339,
 'SAU': 0.6038106210928331,
 'ARE': 0.986530070195409,
 'KAZ': 0.5744031592173757,
 'GBR': 14.417266063624004,
 'DZA': 8.211735485873954,
 'ITA': 14.060314842041095,
 'IND': 3.2316701232158107,
 'ESP': 11.902500653480875,
 'IRQ': 3.658924594336621,
 'PAN': 2.851502522483001,
 'ARM': 1.2694300518134713,
 'MEX': 10.510623312595376,
 'USA': 6.058725330403155,
 'NGA': 3.2351801627276253,
 'FRA': 19.40136959166926,
 'COL': 3.8574577516531963,
 'SWE': 12.346931635294942,
 'CAN': 7.454939306004005,
 'EGY': 5.272878382122079,
 'THA': 1.8555334658714382,
 'MYS': 1.6424695703182286,
 'BGD': 1.5002915761013624,
 'POL': 5.012773204655123,
 'BOL': 4.507710557532621,
 'IDN': 6.516306385105586,
 'ISR': 1.5984076241027805,
 'SRB': 2.1592442645074224,
 'IRL': 6.320560708440006,
 'MDA': 3.4936070592472537,
 'NOR': 2.837920489296636,
 'ROU': 6.438111651381793,
 'AFG': 2.5472935006555537,
 'ECU': 7.6650711428758775,
 'CHN': 5.518332956479311,
 'GHA': 0.433996383363472,
 'BHR': 0.16134236850596967,
 'BRA': 6.895888979784938,
 'HUN': 12.935323383084576,
 'LUX': 2.630906768837803,
 'PER': 2.81251550791524,
 'FIN': 4.67046379170057,
 'UKR': 2.7067133614293346,
 'MAR': 2.8757378537914335,
 'KWT': 0.7348643006263048,
 'RUS': 0.9137941287240581,
 'CHE': 5.227123107307439,
 'CZE': 3.508561848880374,
 'CHL': 0.9665226781857451,
 'IRN': 5.984301467699265,
 'KOR': 2.359774913777455,
 'NLD': 12.856190060026218,
 'AUS': 1.4022034625840607,
 'AUT': 3.9112777257107156,
 'QAT': 0.049518958687040183,
 'PAK': 2.157558170777581,
 'OMN': 0.4376871688551025,
 'SGP': 0.08046593608705647,
 'DNK': 5.012601512181462,
 'BEL': 16.39957264957265,
 'PHL': 6.652071404513304,
 'DEU': 4.518573276658659,
 'JPN': 4.384610634224665,
 'ARG': 4.957168936947058,
 'BLR': 0.5640221126550127,
 'DOM': 3.7279151943462896}

# Factor 데이터 dictionary로 바꾸기

#### 데이터 소스: https://data.oecd.org/air/air-pollution-exposure.htm

In [9]:
data = pd.read_csv("./data/공기오염/Fine-particulate-matter(PM2.5).csv")
data

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2000,10.73562,NaN
1,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2005,10.52515,NaN
2,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2010,10.53559,NaN
3,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2011,10.88267,NaN
4,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2012,10.40148,NaN
...,...,...,...,...,...,...,...,...
1685,OECDE,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2013,14.10410,NaN
1686,OECDE,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2014,13.51005,NaN
1687,OECDE,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2015,13.62123,NaN
1688,OECDE,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2016,12.74480,NaN
1689,OECDE,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2017,12.76113,NaN

In [18]:
data_countrySeries = data.LOCATION
data_countryList = list(set(data.LOCATION))

### Factor Data 고르기

In [11]:
airPollution = data.Value
len(airPollution)

1690

In [19]:
data_countryRowList = []
for country in data_countryList:
    check = False
    for i in range(len(data_countrySeries)):
        if(country == data_countrySeries[i]):
            check = True
        if(check and country != data_countrySeries[i]): # 맨 마지막 total값을 가져오기 위해서 country[i]이름이 달라지면 i-1을 리스트에 넣는다.
            if(country != 'OECDE'): # case가 3000명이 넘는 것만 들고 옴, OWID_WRL은 전세계 데이터라 뺌
                data_countryRowList.append(i-1)
            break
            
len(data_countryRowList)

168

### {Country: Data}인 dictionary 만들기

In [21]:
airPollutionDict = {}
for index in data_countryRowList:
    if(not math.isnan(airPollution[index])): # nan 아닌 데이터들만 사용
        airPollutionDict[data_countrySeries[index]] = airPollution[index]

In [22]:
airPollutionDict

{'PRT': 8.12088,
 'BWA': 23.67802,
 'SVN': 16.25411,
 'ZAF': 24.95864,
 'CYP': 17.751929999999998,
 'SAU': 92.36789,
 'ARE': 40.64907,
 'KAZ': 13.969570000000001,
 'GRC': 16.47663,
 'GBR': 10.44482,
 'BRN': 5.75702,
 'SDN': 56.99521,
 'KHM': 25.53915,
 'KEN': 28.26605,
 'DZA': 39.40822,
 'SOM': 32.31047,
 'ITA': 16.4971,
 'ZMB': 27.74442,
 'GNB': 29.960290000000004,
 'URY': 9.07625,
 'IND': 90.2457,
 'ESP': 9.91419,
 'IRQ': 62.50039,
 'AZE': 20.7103,
 'MLT': 13.81512,
 'PAN': 11.45814,
 'ARM': 32.639790000000005,
 'WLD': 44.17191,
 'MEX': 21.23615,
 'USA': 7.36365,
 'MAC': 29.8558,
 'NGA': 70.1165,
 'HRV': 17.72149,
 'FRA': 11.95962,
 'CMR': 74.93486,
 'COD': 44.31301,
 'EU28': 13.09302,
 'JOR': 32.75142,
 'SWE': 6.13443,
 'COL': 16.91747,
 'MRT': 47.0745,
 'MNE': 22.29501,
 'NIC': 17.93724,
 'CAN': 6.459309999999999,
 'EGY': 86.60764,
 'NAM': 25.48976,
 'GTM': 23.97105,
 'THA': 26.33683,
 'COG': 47.43886,
 'CRI': 15.85286,
 'SYR': 44.24641,
 'MYS': 16.03565,
 'POL': 20.943270000000002,
 'BGD': 60.5818,
 'BOL': 22.23571,
 'FJI': 10.70372,
 'IDN': 16.70816,
 'HKG': 26.1767,
 'ISR': 20.8113,
 'SRB': 25.05095,
 'MDG': 22.39592,
 'LBN': 31.1494,
 'NPL': 99.88675,
 'TKM': 22.645870000000002,
 'IRL': 8.27177,
 'HTI': 15.848770000000002,
 'MDA': 16.57612,
 'MWI': 23.50127,
 'MNG': 43.17646,
 'BGR': 20.28975,
 'NOR': 7.0458,
 'ROU': 14.6146,
 'G7M': 10.048919999999999,
 'UGA': 50.53365,
 'AFG': 57.96859,
 'ECU': 15.85361,
 'BEN': 39.749759999999995,
 'CHN': 53.45372,
 'GHA': 35.072340000000004,
 'NER': 94.11646999999999,
 'LTU': 11.902239999999999,
 'BHR': 69.88265,
 'PRY': 12.045069999999999,
 'G20': 45.457770000000004,
 'TGO': 37.13062,
 'VEN': 17.398989999999998,
 'TJK': 46.97231,
 'BRA': 12.82884,
 'TCD': 66.25741,
 'GEO': 22.15483,
 'LAO': 25.69418,
 'ETH': 38.78116,
 'UZB': 31.45703,
 'HUN': 16.08462,
 'LUX': 10.179039999999999,
 'PER': 26.035829999999997,
 'FIN': 5.90603,
 'ALB': 18.59367,
 'ERI': 48.91276,
 'ISL': 6.782830000000001,
 'UKR': 20.698179999999997,
 'MAR': 32.68699,
 'GMB': 34.20643,
 'MKD': 32.98315,
 'EST': 6.841989999999999,
 'VNM': 30.3312,
 'NZL': 5.99181,
 'BIH': 28.6026,
 'KWT': 60.44517,
 'PNG': 12.41087,
 'RUS': 16.170720000000003,
 'SWZ': 17.19315,
 'TTO': 24.1692,
 'CHE': 10.44407,
 'ZWE': 21.82037,
 'TLS': 20.32858,
 'BDI': 39.00327,
 'MOZ': 21.30045,
 'CZE': 16.21481,
 'CHL': 22.13709,
 'IRN': 39.32537,
 'KOR': 25.13889,
 'RWA': 43.27236,
 'NLD': 12.085999999999999,
 'LBR': 17.66819,
 'AUS': 8.52437,
 'SLV': 24.90166,
 'LBY': 53.270540000000004,
 'TZA': 28.336,
 'AUT': 12.68774,
 'QAT': 89.72286,
 'MMR': 36.396809999999995,
 'BTN': 33.95557,
 'GNQ': 55.62151,
 'PAK': 60.31661999999999,
 'CUB': 19.63593,
 'OMN': 41.69611,
 'CAF': 57.22223,
 'SGP': 19.72147,
 'GIN': 24.81071,
 'MLI': 39.4566,
 'BFA': 43.92465,
 'JAM': 14.14669,
 'AGO': 32.5582,
 'DNK': 10.35431,
 'BEL': 13.09935,
 'HND': 21.08948,
 'LIE': 15.301110000000001,
 'PHL': 18.17468,
 'YEM': 51.635490000000004,
 'DEU': 12.08939,
 'JPN': 11.86181,
 'TUN': 38.15849,
 'MUS': 14.8634,
 'SLE': 21.449089999999998,
 'KGZ': 22.93337,
 'ARG': 14.234820000000001,
 'LKA': 11.34552,
 'SVK': 17.93355,
 'CIV': 26.467709999999997,
 'OECD': 12.50047,
 'GAB': 45.75431,
 'LVA': 14.10963,
 'SEN': 40.68125,
 'PRK': 32.428329999999995,
 'LSO': 28.147140000000004,
 'BLR': 19.04726,
 'DOM': 14.02285}

# Correlation 구하기

### 비교할 리스트 만들어 주기

In [23]:
fatalityList = []
airPollutionList = []

for isoCode in fatalityRateDict:
    if isoCode in airPollutionDict:
        fatalityList.append(fatalityRateDict[isoCode])
        airPollutionList.append(airPollutionDict[isoCode])

In [24]:
print("correlation list for air pollution {} : {}".format(len(fatalityList), len(airPollutionList)))

correlation list for female 67 : 67

In [25]:
correlationAirPollution = [fatalityList, airPollutionList]

### correlation 구하기

In [26]:
df = pd.DataFrame(correlationAirPollution).T
corr = df.corr(method= 'pearson')
print("Correlation between air pollution and fatality: {}".format(corr[1][0]))

Correlation between air pollution and fatality: -0.35970433181809736