In [1]:
import pandas as pd
import math
import collections

# 치사율 데이터 가져오기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [2]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
deathData = data.total_deaths
caseData = data.total_cases

In [4]:
countrySeries = data.iso_code
countryList = list(set(countrySeries)) # set으로 만들어서 중복 다 없앰.

len(countryList)

212

### 국가 filtering하기

In [5]:
countryRowList = []
for country in countryList:
    check = False
    for i in range(len(countrySeries)):
        if(country == countrySeries[i]):
            check = True
        if(check and country != countrySeries[i]): # 맨 마지막 total값을 가져오기 위해서 country[i]이름이 달라지면 i-1을 리스트에 넣는다.
            if(caseData[i-1] > 3000 and country != 'OWID_WRL'): # case가 3000명이 넘는 것만 들고 옴, OWID_WRL은 전세계 데이터라 뺌
                countryRowList.append(i-1)
            break
            
len(countryRowList)

68

### {country: fatality rate} 형태로 dictionary만들기

In [6]:
fatalityRateDict = {}
for index in countryRowList:
    if(not math.isnan(deathData[index]) and not math.isnan(caseData[index])):
        fatalityRateDict[countrySeries[index]] = 100*float(deathData[index]/caseData[index])

In [7]:
print(len(fatalityRateDict))
fatalityRateDict # 치사율 데이터

68

{'BEL': 16.39957264957265,
 'MYS': 1.6424695703182286,
 'PER': 2.81251550791524,
 'IDN': 6.516306385105586,
 'THA': 1.8555334658714382,
 'IRL': 6.320560708440006,
 'DZA': 8.211735485873954,
 'PAK': 2.157558170777581,
 'DOM': 3.7279151943462896,
 'POL': 5.012773204655123,
 'OMN': 0.4376871688551025,
 'SAU': 0.6038106210928331,
 'GHA': 0.433996383363472,
 'HUN': 12.935323383084576,
 'TUR': 2.768240195096339,
 'PAN': 2.851502522483001,
 'SWE': 12.346931635294942,
 'ZAF': 1.86827851479708,
 'CHL': 0.9665226781857451,
 'EGY': 5.272878382122079,
 'IND': 3.2316701232158107,
 'GBR': 14.417266063624004,
 'QAT': 0.049518958687040183,
 'BOL': 4.507710557532621,
 'MDA': 3.4936070592472537,
 'SRB': 2.1592442645074224,
 'CAN': 7.454939306004005,
 'PRT': 4.180938592464424,
 'BHR': 0.16134236850596967,
 'ISR': 1.5984076241027805,
 'AUT': 3.9112777257107156,
 'RUS': 0.9137941287240581,
 'IRN': 5.984301467699265,
 'FRA': 19.40136959166926,
 'NOR': 2.837920489296636,
 'IRQ': 3.658924594336621,
 'CHE': 5.227123107307439,
 'BLR': 0.5640221126550127,
 'JPN': 4.384610634224665,
 'ESP': 11.902500653480875,
 'BGD': 1.5002915761013624,
 'UKR': 2.7067133614293346,
 'ARM': 1.2694300518134713,
 'PHL': 6.652071404513304,
 'AUS': 1.4022034625840607,
 'BRA': 6.895888979784938,
 'KWT': 0.7348643006263048,
 'NLD': 12.856190060026218,
 'CHN': 5.518332956479311,
 'SGP': 0.08046593608705647,
 'CZE': 3.508561848880374,
 'ITA': 14.060314842041095,
 'ARE': 0.986530070195409,
 'KOR': 2.359774913777455,
 'ROU': 6.438111651381793,
 'NGA': 3.2351801627276253,
 'AFG': 2.5472935006555537,
 'LUX': 2.630906768837803,
 'COL': 3.8574577516531963,
 'DNK': 5.012601512181462,
 'ARG': 4.957168936947058,
 'DEU': 4.518573276658659,
 'MEX': 10.510623312595376,
 'KAZ': 0.5744031592173757,
 'FIN': 4.67046379170057,
 'MAR': 2.8757378537914335,
 'USA': 6.058725330403155,
 'ECU': 7.6650711428758775}

# Factor 데이터 dictionary로 바꾸기

#### 데이터 소스: https://github.com/owid/covid-19-data/tree/master/public/data

In [8]:
data = pd.read_csv("./data/owid-covid-data.csv")
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Factor Data 고르기

In [9]:
ageOver65 = data.aged_65_older
ageOver70 = data.aged_70_older

In [10]:
ageOver65Count = 0
ageOver70Count = 0
for index in countryRowList:
    if(not math.isnan(ageOver65[index])):
        ageOver65Count +=1
    if(not math.isnan(ageOver70[index])):
        ageOver70Count +=1
        
print("The number of female smokers data: {}".format(ageOver65Count))
print("The number of male smokers data: {}".format(ageOver70Count))

The number of female smokers data: 68
The number of male smokers data: 67

### {Country: Data}인 dictionary 만들기

In [12]:
ageOver70Dict = {}
ageOver65Dict = {}
for index in countryRowList:
    if(not math.isnan(ageOver65[index])): # nan 아닌 데이터들만 사용
        ageOver65Dict[countrySeries[index]] = ageOver65[index]
    if(not math.isnan(ageOver70[index])):
        ageOver70Dict[countrySeries[index]] = ageOver70[index]

In [13]:
ageOver65Dict

{'BEL': 18.570999999999998,
 'MYS': 6.292999999999999,
 'PER': 7.151,
 'IDN': 5.319,
 'THA': 11.373,
 'IRL': 13.927999999999999,
 'DZA': 6.211,
 'PAK': 4.495,
 'DOM': 6.981,
 'POL': 16.762999999999998,
 'OMN': 2.355,
 'SAU': 3.295,
 'GHA': 3.385,
 'HUN': 18.577,
 'TUR': 8.152999999999999,
 'PAN': 7.917999999999999,
 'SWE': 19.985,
 'ZAF': 5.343999999999999,
 'CHL': 11.087,
 'EGY': 5.159,
 'IND': 5.989,
 'GBR': 18.517,
 'QAT': 1.307,
 'BOL': 6.704,
 'MDA': 10.864,
 'SRB': 17.366,
 'CAN': 16.984,
 'PRT': 21.502,
 'BHR': 2.372,
 'ISR': 11.732999999999999,
 'AUT': 19.202,
 'RUS': 14.177999999999999,
 'IRN': 5.44,
 'FRA': 19.718,
 'NOR': 16.820999999999998,
 'IRQ': 3.1860000000000004,
 'CHE': 18.436,
 'BLR': 14.799000000000001,
 'JPN': 27.049,
 'ESP': 19.436,
 'BGD': 5.098,
 'UKR': 16.462,
 'ARM': 11.232000000000001,
 'PHL': 4.803,
 'AUS': 15.504000000000001,
 'BRA': 8.552,
 'KWT': 2.345,
 'NLD': 18.779,
 'CHN': 10.640999999999998,
 'SGP': 12.922,
 'CZE': 19.027,
 'ITA': 23.021,
 'ARE': 1.1440000000000001,
 'KOR': 13.914000000000001,
 'ROU': 17.85,
 'NGA': 2.7510000000000003,
 'AFG': 2.5810000000000004,
 'LUX': 14.312000000000001,
 'COL': 7.646,
 'DNK': 19.677,
 'ARG': 11.198,
 'DEU': 21.453000000000003,
 'MEX': 6.857,
 'KAZ': 6.9910000000000005,
 'FIN': 21.228,
 'MAR': 6.769,
 'USA': 15.413,
 'ECU': 7.104}

# Correlation 구하기

### 비교할 리스트 만들어 주기

In [15]:
fatalityListforageOver65 = []
fatalityListforageOver70 = []
ageOver65List = []
ageOver70List = []

for isoCode in fatalityRateDict:
    if isoCode in ageOver65Dict:
        fatalityListforageOver65.append(fatalityRateDict[isoCode])
        ageOver65List.append(ageOver65Dict[isoCode])
    if isoCode in ageOver70Dict:
        fatalityListforageOver70.append(fatalityRateDict[isoCode])
        ageOver70List.append(ageOver70Dict[isoCode])

In [16]:
print("correlation list for ageOver65: {} : {}".format(len(fatalityListforageOver65), len(ageOver65List)))
print("correlation list for ageOver70: {} : {}".format(len(fatalityListforageOver70), len(ageOver70List)))

correlation list for female 68 : 68
correlation list for male 67 : 67

In [21]:
correlationAgeOver65 = [fatalityListforageOver65, ageOver65List]
correlationAgeOver70 = [fatalityListforageOver70, ageOver70List]

### correlation 구하기

In [23]:
df_ageOver65 = pd.DataFrame(correlationAgeOver65).T
corr_ageOver65 = df_ageOver65.corr(method= 'pearson')
print("Correlation between age Over 65 and fatality: {}".format(corr_ageOver65[1][0]))

df_ageOver70 = pd.DataFrame(correlationAgeOver70).T
corr_ageOver70 = df_ageOver70.corr(method= 'pearson')
corr_ageOver70[1][0]
print("Correlation between age Over 70 and fatality: {}".format(corr_ageOver70[1][0]))

Correlation between age Over 65 and fatality: 0.4756542169414872
Correlation between age Over 70 and fatality: 0.49366237881270236